#page_aboutme {
    height: calc(100% - 10px);
    width: calc(100% - 10px);

    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutme_contents {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
}

.aboutme_content {
    height: calc(100% - 10px);
    width: calc(35% - 5px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutme_images {

}

#image_software {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#text_description {
    text-align: center;

    font-size: 36px;
}