#page_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px;
}

#home_contents {
    display: flex;

    height: 98vh;
    width: 99vw;

    background-color: lightblue;
}

