#page_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px;
}

#home_contents {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 98vh;
    width: 99vw;

    background-color: darkblue;
}

#home_margin {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

.home_element {
    background-color: lightblue;
    width: 100%;
}

#home_header {
    height: 10%;
    margin-bottom: 5px;
}

#home_main {
    height: 80%;
}

#home_footer {
    height: 10%;
    margin-top: 5px;
}

