#page_martialarts {
    height: calc(100% - 10px);
    width: calc(100% - 10px);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#martialarts_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#martialarts_image, #martialarts_text {
    width: 48%;
    height: 90%;
}

#martialarts_text {
    text-align: justify;

    border-style: solid;
    border-radius: 10px;
    background-color: white;

    padding: 10px;
}

#martialarts_image {
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#martialarts_image img {
    margin: 10px;
}