#page_software {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

#software_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;
}

#software_title {
    height: 15%;
    width: 100%;

    text-align: center;

    font-size: 30px;
    font-weight: bold;
}

#software_projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 85%;
    width: 100%;
}

#software_projects a {
    height: 25%;
    width: 55%;

    margin-top: 5px;

    border-style: solid;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;

    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;

    text-decoration: none;
    color: inherit;
}

#software_projects a:hover {
    box-shadow: 5px 5px 5px;
    transform: translateY(-5px);  
}

#software_projects a:active {
    background-color: darkblue;
}

#software_projects a:visited {
    text-decoration: none;
}

.project_box {
    width: 75%;
    height: 100%; 
    display: flex;
}

.project_image {
    width: 50%;
    height: 100%; 

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project_image img {
    width: 25%;
    height: 65%;
}

.project_text {
    width: 50%;
    height: 100%;

    text-align: justify;
}

.project_box p {
    margin: 5px;
}

.project_title {
    font-size: 20px;
    font-weight: bold;
}

.project_description {
    font-size: 14px
}

#project_tech {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}