#page_software {
    height: calc(100% - 10px);
    width: calc(100% - 10px);

    background-color: lightgreen;
}

#software_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;
}

#software_title {
    height: 15%;
    width: 100%;

    text-align: center;

    font-size: 36px;
    font-weight: bold;
}

#software_projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 85%;
    width: 100%;
}

.project_box {
    height: 25%;
    width: calc(100% - 10px);

    margin-top: 5px;

    background-color: darkgreen;

    display: flex;
    justify-content: center;
}

.project_image {
    width: 50%;
    height: 100%; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.project_text {
    width: 50%;
    height: 100%;
}

.project_box p {
    margin: 5px;
}

.project_title {
    font-size: 24px;
    font-weight: bold;
}

.project_description {
    font-size: 18px
}